<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="encora_training" frontName="encora_training">
            <module name="Encora_Training"/>
        </route>
    </router>
</config>
